:root{
    --color-primary: #F7F9F9;
    --color-secondary: #DCE5E5;
    --color-header: #BED8D4;
    --color-success: #28a745;
    --color-btn: #2081C3;
    --color-link: #1FBFFF;
    --color-btn-hoover: #1D75AF;
    --color-link-hoover: #00AFF5;
    --color-link-active: #0092CC;
    --color-p: #B9CBCB
}